*.pkl
*.mp3
Backend/Research Scripts/.DS_Store
Backend/.DS_Store
*.midi
*.mid
Backend/Research Scripts/train/checkpoint
*.data-00000-of-00001
*.index
*.DS_Store
*.pyc
Backend/Server/train/checkpoint
Backend/Model/saved
Frontend/Current/node_modules/*
Backend/research_scripts/*.wav
*.wav
