html, body {
    width: 100%;
    height: 100%;
}

svg {
	overflow: visible;
}

#logo {
    width: 300px;
    margin: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#topMessage, #noteSelection {
    text-align: center;
    margin: 15px;
}

#staffController, #playbackController {
   text-align: center;
 }

 #playbackControllerTest {
     text-align: center;
 }

.row{
border-color: black;
border-bottom-width: 5px;
border:5px;
}


.padding{
	height:5%;
}



.cell{
	height: -webkit-fill-available;
    display: inline-block;
    border: 0px;
}

.staff{
	height: 30%;

}


canvas {
    height: 100vh;
    width: 100vw;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

button {
	text-decoration: none;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: .2em;
	margin: 10px 3px 20px 3px;
	height: 33px;
	border: 1px solid #000000;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
	background-color: #5bc0de;
	color: white;
	border: 1px solid #5bc0de;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 1;
}

#container {
	width: 300px;
	height: 33px;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
	user-select: none;
	cursor: pointer;
}

.inner-container {
	position: absolute;
	left: 0;
	top: 0;
	width: inherit;
	height: inherit;
	text-transform: uppercase;
	font-size: .6em;
	letter-spacing: .2em;
}

.inner-container:first-child {
	background: #e9e9e9;
	color: #a9a9a9;
}

.inner-container:nth-child(2) {
	background: dodgerblue;
	color: white;
	clip-path: inset(0 50% 0 0);
	transition: .3s cubic-bezier(0,0,0,1);
}

.toggle {
	width: 50%;
	position: absolute;
	height: inherit;
	display: flex;
	box-sizing: border-box;
}

.toggle p {
	margin: auto;
}

.toggle:nth-child(1) {
	right: 0;
}
